/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #c25725;
  --ifm-color-primary-dark: rgb(233, 134, 22);
  --ifm-color-primary-darker: rgb(236, 124, 19);
  --ifm-color-primary-darkest: rgb(197, 129, 28);
  --ifm-color-primary-light: rgb(203, 172, 70);
  --ifm-color-primary-lighter: rgb(212, 173, 102);
  --ifm-color-primary-lightest: rgb(224, 188, 146);
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
